/* argumenta con imágenes , enlaces paso a paso que este clasificado máximo en 6 puntos mínimo en 5 puntos el Microsoft Community .NET lo siguiente: */

html,
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    font-size: 1.2vw;
}

body {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

header {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    text-align: center;
}

header a {
    text-decoration: none;
    color: white;
}

header a:visited {
    color: white;
    text-decoration: none;
}

header img {
    width: 150px;
    height: auto;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 0;
    flex-wrap: nowrap;
}

.menu li {
    border-top: 0.3vh solid white;
    border-bottom: 0.3vh solid white;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
}

#menu {
    display: flex;
    justify-content: center;
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2vw;
    padding: 0;
    flex-wrap: nowrap;
}

#menu li {
    border-top: 0.3vh solid white;
    border-bottom: 0.3vh solid white;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
    color: white;
}

#menu li:hover,
.menu li:hover {
    background-color: white;
    box-shadow: 0 0 10px 0 white;
    color: black;
}

section {
    margin: auto auto 2rem auto;
    background-color: white;
    width: 100vw;
    max-width: 1200px;
    padding: 2rem;
    position: static;
    box-sizing: border-box;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2vw;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: balance;
}

img {
    width: 100%;
    max-width: 500px;
    margin: 2vw 0;
    border-radius: 5px;
}

nav {
    text-align: center;
    margin: 2vw 0;
}

footer {
    color: white;
}

footer p {
    text-align: center;
    padding: 1vw 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    margin: 0;
}

.comienzo {
    border-radius: 10px 0 0 10px;
}

.final {
    border-radius: 0 10px 10px 0;
}

p,
link {
    font-size: 1.5rem;
    width: 100%;
}

section p {
    font-size: 1.5rem;
    text-align: center;
}

section {
    text-align: center;
}

section ol {
    text-align: start;
}

section ol li {
    margin: 0 7vw 0 7vw;
    font-size: 1.5rem;
}

section ul {
    margin: 0 5vw;
    padding: 0 5vw;

}

.activo {
    color: black !important;
    background-color: white;
    box-shadow: 0 0 10px 0 white;
}

a {
    text-decoration: none;
}

h2 {
    margin: 2vw 0;
    font-size: 2.5rem;
}

h3 {
    margin: 2vw 0;
    font-size: 2rem;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

#flecha {
    filter: invert(100%);
    -webkit-filter: invert(100%);
    width: 2.5rem;
    position: fixed;
    top: 78%;
    left: 92.5%;
    transform: translate(-50%, -50%);
    animation: moverFlecha 1s ease-in-out infinite;
}

#flecha:hover {
    filter: invert(0);
    -webkit-filter: invert(0);
    transition: all 0.3s ease-in-out;
}

button {
    color: black;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 5px 5px 0 gray;
    border: none;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: black;
}

button:hover {
    box-shadow: 0 7px 5px 0 gray;
    transition: all 0.3s ease-in-out;
    transform: translateY(-2px);
}

::selection {
    color: white;
    background-color: #6d63c2;
}

hr {
    border-radius: 5px;
    margin: 4vw 0;
    width: 100%;
}

@keyframes moverFlecha {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(0);
    }
}



@media (max-width: 768px) {
    body {
        font-size: 8vw;
    }

    section p {
        font-size: 2.5rem;
    }

    section a p {
        font-size: 2.5rem;
    }

    .menu,
    #menu {
        flex-wrap: nowrap;
    }

    section {
        width: 95%;
    }

    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 8rem;
    }

    h3 {
        font-size: 6rem;
    }

    #flecha {
        width: 10rem;
        filter: invert(0);
        -webkit-filter: invert(0);
        left: 45%;
        top: 85%;
    }

    #flecha:hover {
        filter: invert(100%);
        -webkit-filter: invert(100%);
        transition: all 0.3s ease-in-out;
    }

    #menu {
        font-size: 3vw;
    }

    .menu {
        font-size: 1.8rem;
    }

    button {
        font-size: 4rem;
        padding: 1rem 2rem;
    }

    div ol li {
        font-size: 3rem;
    }
}